
.react {
    color: #4db5ff ;
  }
  header{
    overflow: hidden;
    height: 100vh;
    padding-top: 3rem;
  }
  .container{
    text-align: center;
    height: 100%;
    position: relative;
  }
  .headerp{
    margin-top: 2rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
  }

  .headers{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 0rem;
  }
  .headers::after{
    content: "";
    width: 1px;
    height: 2rem;
    background:#4db5ff ;
  }
.me{
  background:linear-gradient(#4db5ff,transparent);
  width: 20rem;
  height: 27rem;
  position: absolute;
  left: 50%;
  margin-top: 2rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 0.5rem 1.5rem 1.5rem 3rem;
  transform: translateX(-50%);
}
.scroll{
  color: #4db5ff;
  position: absolute;
  right: -2.5rem;
  bottom:5rem ;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}
@media screen and (max-width:102Opx){
 header{
  height: 68vh;
 }
  }
@media screen and (max-width:600px){
 header{
  height: 100vh;
 }
 .headers,.scroll{
  display: none;
 }
  }